$myseach :#33176C;
$myview :#74B946;
$mytext :#8FB946;
$mydatebutton :#B94646;
$textinfo :#45454D;
$reset :#444444;
$damage :#6C46B9;
$backgroundcolor :#EEEEEE;
$line :#1B1B1B;
$card :#FFFFFF;
$textcolor: #22232B;